<% if user_signed_in? %>
  <h1>Dojo List</h1>

  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">  
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @dojots.each do |dojot| %>
        <%= render dojot %>
      <% end %>

    </tbody>
  </table>

  <!-- <div id="dojots">
    <%# @dojots.each do |dojot| %>
      <%#= render dojot %>
      <p>
        <%#= link_to "Show this dojot", dojot %>
      </p>
    <%# end %>
  </div> -->

  <%= link_to "New dojot", new_dojot_path, class:"btn btn-secondary" %>

  <% else %>

   <h4>Welcome to the Home page</h4>

  <% end %>